# Default values for erpnext.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  imagePullSecrets:
    - name: harbor-creds

# Configure external database host
dbHost: "10.212.132.150"
dbPort: 3306
dbRootUser: "root"
dbRootPassword: ""
dbRootPasswordSecret: mariadb-root-password
dbRootPasswordKey: password
dbRds: false

image:
  repository: 10.212.132.157/demo/test
  tag: latest
  pullPolicy: IfNotPresent

persistence:
  worker:
    enabled: true
    size: 3Gi
    storageClass: "nfs"

ingress:
  enabled: true
  ingressName: "frappe-dev"
  ingressClassName: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: selfsigned-cluster-issuer
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: dev.frappe.local
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: frappe-dev-tls
      hosts:
        - dev.frappe.local


jobs:
  volumePermissions:
    enabled: true

  configure:
    enabled: true
    fixVolume: true

  createSite:
    # jobName: ""
    enabled: true
    forceCreate: true
    siteName: "dev.frappe.local"
    adminPassword: "admin"
    adminExistingSecret: ""
    adminExistingSecretKey: "admin"
    installApps:
    - "erpnext"
    - "dev_jute_smart"
    dbType: "mariadb"
    backoffLimit: 0
    resources: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}


mariadb:
  # https://github.com/bitnami/charts/tree/master/bitnami/mariadb
  enabled: false
